page-home {

    #container {
        background-color: transparent;
        position: fixed;
        overflow: hidden;
        border: none;
        box-shadow: none;
        height: 100%;
        width: 100%;
        margin: 0;

        div.item-inner {
            border: none;
        }
    }
    
}

/* As we set the toBack property of the PreviewCamera object to true,
* we need to make some elements transparent */
html, body, ion-app, ion-content, ion-page, .nav-decor {
    background-color: transparent !important;
}
