<ion-header><custom-header [header]="header_data"></custom-header></ion-header>

  <ion-content >
      <ion-card style="position:relative;" *ngFor='let post of dataApi' >

        <ion-item (click)="showUserProfile(post.owner_id)">
          <ion-avatar item-start>
            <img src="{{post.avatar}}">
          </ion-avatar>
          <h2>{{post.owner_id}}</h2>
          <p>{{post.created_at}}</p>
        </ion-item>
        <ion-card-header (click)="showProduct(post.id)">
          {{post.name}}
        </ion-card-header>
        <img *ngIf='!post.image' (click)="showProduct(post.id)" src="assets/imgs/example_nourriture.jpg">
        <img *ngIf='post.image' (click)="showProduct(post.id)" ngsrc="post.image">
        <ion-card-content>
          <h2>Description :</h2>
        <p>

            {{post.description}}</p>
          <ion-note>
            Périme le : {{post.exp_date}}
          </ion-note>
        </ion-card-content>

        <ion-row>
          <!-- <ion-col>
            <button ion-button icon-left clear small>
              <ion-icon name="thumbs-up"></ion-icon>
              <div>12 Likes</div>
            </button>
          </ion-col> -->
          <ion-col>
            <button ion-button icon-left clear small (click)="openCommentSection(post.cell)">
              <ion-icon name="text"></ion-icon>
              <div>4 Comments</div>
            </button>
          </ion-col>
          <ion-col center text-center>
            <ion-note>
              11h ago
            </ion-note>
          </ion-col>
        </ion-row>

        <div id='{{post.cell}}'>
          <div innerHTML="item"></div>
        </div>

      </ion-card>

      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
     <ion-infinite-scroll-content></ion-infinite-scroll-content>
   </ion-infinite-scroll>
</ion-content>
