page-signup {

  #signup{
    background: color($colors,primary);
  h2{
    margin-top: 70px;
    text-align: center;
      color : color($colors,light);
    }

  };
  .logo{
    height:70px;
  }

  #logos{
      display:block;
      vertical-align: middle;
      text-align: justify;
      padding: 40px;
  }
  #logos::after{
    display:inline-block;
    width:100%;
    content: '';
    vertical-align:top;
  }
}
