<ion-header><custom-header [header]="header_data"></custom-header></ion-header>

<ion-content padding>
  <ion-item>
    <ion-avatar *ngIf='dataApi?.data.avatar' item-start>
      <img  ngsrc='dataApi?.data.thumbnail'>
    </ion-avatar>
    <ion-avatar *ngIf='!dataApi?.data.avatar' item-start>
      <img  src='assets/imgs/avatar.jpg'>
    </ion-avatar>
    <h2 item-end>{{dataApi?.data?.fname+" "+dataApi?.data?.lname}}</h2>
  </ion-item>
  <ion-list no-lines no-border>
    <ion-list-header>
      Infos
    </ion-list-header>
    <ion-item>
      N. Tel.
      <ion-note *ngIf='dataApi?.data.phone' item-end>
        {{dataApi?.data?.phone}}
      </ion-note>
      <ion-note *ngIf='!dataApi?.data.phone' item-end>
        Info non renseignée
      </ion-note>
    </ion-item>
  </ion-list>


  <ion-list style="position: absolute; bottom: 0; width:100%">
    <button (click)="startConversation()" ion-item>
      <ion-icon name="chatboxes" item-start></ion-icon>
        Contacter !
    </button >
    <button ion-item>
      <ion-icon name="pizza" item-start></ion-icon>
        Posts
    </button >
  </ion-list>
</ion-content>
